
@import "tailwindcss";

@theme {
  /* Definisikan Keyframes */
  @keyframes floating {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
  }

  /* Keyframes kedip kedip */
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
  }

  /* Sambungkan ke utility class */
  --animate-floating: floating 3s ease-in-out infinite;

  /* Buat utility class baru */
  --animate-blink: blink 1s step-end infinite;
}